*{
    --primary_color: rgb(209, 184, 184);
    --secondary_color: #1B197C;
    --box_color: rgb(129, 127, 127);
    --black: rgb(30, 29, 29);
    --winner-color: rgba(74, 151, 229, 0.894);
    --pd: 10px;
    --gap: 5px;
    --br: 5px;
    --box_shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

body{
    background: linear-gradient(to right top, #1b197c, #523790, #7a58a5, #9f7cba, #c2a2d1, #d9afd6, #edbedc, #ffcee3, #ffc9cc, #ffcbaa, #ffd68a, #e3e67c);
    margin: 0;
    display: grid;
    gap: calc(var(--gap)*10);
    width: 100%;
    height: 100vh;
    align-items: stretch;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: var(--primary_color);
    color: var(--secondary_color);
    cursor: pointer;
    position: fixed;
}
.main{
   
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: var(--pd);
    height: 70vh;
    flex-direction: column;
}
.container{
    display: grid;
    width: 60%;
    justify-self: center;
    align-items: center;
    grid-template-rows: .1fr 1.5fr;
    gap: calc(var(--gap)*1.5);  
}

.players{
    display: flex;
    justify-content: center;
    background-color: var(--secondary_color);
    color: var(--primary_color);
    width: 20vw;
    grid-row: 1/2;
    justify-self: center;
    cursor: pointer;
    padding: var(--pd);
    border-radius: var(--br);
}
hr{
    width: 250px;
    border: 3px solid rgb(7, 7, 7);
}
.boxes{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
}

.tile{
    width: 98px;
    height: 98px;
    cursor: pointer;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary_color);
}

.horizontal-line{
    border-bottom: 3px solid rgb(0, 0, 0);
}

.vertical-line{
    border-right: 3px solid rgb(10, 10, 10);
}

.winner{
    background-color: var(--primary_color);
    color: red;
}

button{
    width: 8rem;
    padding: var(--pd);
    cursor: pointer;
    background-color: var(--secondary_color);
    color: var(--primary_color);
    border-radius: var(--br);
    border: none;
}
footer{
    background-color: var(--secondary_color);
    color: rgb(25, 24, 24);
    color: var(--primary_color);
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    justify-content: center;
    
    /* margin-top: 13%; */
    bottom: -25%;
    position: relative;
}

.announcer{
    width: 60%;
    height: auto;
    font-size: 50px;
    opacity: 1;
    background-color: #051937;
    color: var(--winner-color);
    position: relative;
    justify-self: center;
    border-radius: var(--br);
}

.result{
    width: 100%;
    height: 100vh;
    display: none;
    background-color: #051937;
}

.empty{
    margin-top: 140px;
    
    width: 100%;
}
@media only screen and (min-width: 1050px) {
    body {
      background-color: lightblue;
      gap: calc(var(--gap)*17);
    }
    .main{
        /* margin-top: 0; */
    }
    .container{
        width: 40%;
    }
    hr{
        width: 300px;
        border: 2px solid black;
    }
    .boxes{
        width: 300px;
        height: 300px;
    }
    
    .tile{
        width: 98px;
        height: 98px;
        font-size: 50px;
    }
    
    .horizontal-line{
        border-bottom: 2px solid black;
    }
    
    .vertical-line{
        border-right: 2px solid black;
    }
    .empty{
        
        margin-top: 170px;
    }
    button{
        width: 6rem;
        padding: calc(var(--pd)*0.5);
    }
    footer{
    
        bottom: -102px;
        position: relative;
    } 
}


@media only screen and (min-width: 400px) {
    .box{
        height: 1.5vh;
        border: 2px solid black;
        padding: var(--pd);
    }
    .main{
        margin-top: 0;
    }
    hr{
        width: 200px;
    }
    footer{
    
        bottom: -105px;
        position: relative;
    } 
}

